* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* HEADER MENU */
.header-navigation {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
}

ul{
    display: flex; 
    list-style: none;
    text-decoration: none;
    gap: 1rem;
}

.sign-up__button {
    background-color: #1465FA;
    color: #fafafa;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
}

/* TITLE & TAGS */

.main-title {
    text-align: center;
    font-size: 4rem;
    width: 85%;
    font-weight: 700;
}

.usps {
    align-items: center;
    padding: 2rem 5rem;
    gap: 2rem;
}


/* PRICING TABLES */
.pricing-tables {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    gap: 1rem;
}


/* PRICING TABLES BUTTONS */
.white-button {
    
}
